awscli == 1.36.40
loguru
mkdocs
pip
python-dotenv
ruff
tqdm
typer
cookiecutter-data-science
xmltodict
rich
zstandard
pandas
polars
polars_splitters
altair
vegafusion[embed]
wikitextparser
evaluate
-e .
